<h1>Welcome</h1>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Street1</th>
      <th>Street2</th>
      <th>City</th>
      <th>Zip code</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.street1 %></td>
        <td><%= apartment.street2 %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.zip_code %></td>
        <td><%= apartment.state %></td>
        <td><%= apartment.country %></td>
        <td><%= apartment.name %></td>
        <td><%= apartment.phone %></td>
        <td><%= apartment.hours %></td>
        <% if !current_user.nil? %>
          <td><%= link_to 'Show', apartment %></td>
          <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
          <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- if user is not signed in, don't display these links -->
<% if !current_user.nil? %>
  <%= link_to 'New Apartment', new_apartment_path %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
<% end %>

<%if current_user.nil? %>
  <%= link_to "Log In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
